.dashboard-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center; /* Align items vertically */
}

.header-left {
  flex: 1;
}

.date-time-container {
  text-align: left; /* Align text to the left */
}

.current-date,
.current-time {
  font-weight: bold;
  color: #333;
  font-size: 18px; /* Adjust font size as needed */
  display: block; /* Ensure each item takes a new line */
  margin-bottom: 5px; /* Space between date and time */
}

.user-info {
  text-align: right; /* Align text to the right */
}

.user-name-label,
.user-id-label {
  display: block;
  margin-bottom: 5px; /* Spacing between username and user ID */
}

.logout-button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px; /* Space above the logout button */
}

.logout-button:hover {
  background-color: #45a049;
}
